body {
    background-color: #00004d;
}
.mhead{
    text-align: left;
    font-style: normal;
    font-size: 40px;
    color: white;
       
}

.loginblock {
    display: inline-block;
    border: 1px solid white;
    margin-left: 70%;
    margin-top: 9%;
    padding: 20px 20px 20px 20px;
    background-color: antiquewhite;
    box-shadow: 5px 5px #625c7c;
}
.s2{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #50b1e0;
}

.s1 {
  display: inline-block;
  color: black;
  text-align: left;
  padding: 17px 38px;
  text-decoration: none;
    font-size: 17px;
}


.outset {
    border-style: outset;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.loginbutton {
    display: inline-block;
    margin-left: 27%;
    padding: 14px 40px;
    background: linear-gradient(to bottom left, #d317d6 10%, #33ccff 100%);
    font-family: serif;
    font-size: 20px;
}
.loginbutton:hover
{
    background: linear-gradient(to bottom left, #5202f4 10%, #a9a3c6 100%);
}
